@media screen and (max-width: 1450px) {
    #terminal {
        max-width: 600px;
    }
    #hangman-panel pre{
        margin-right: -35px;
    }
}

@media screen and (max-width: 1240px){
    #ascii-art, #binary-sidebar{
        display: none;
    }
    #terminal {
        margin-left: 0;
    }
    #terminal{
        padding-top: 40ch;
    }
    #binary-sidebar-horizontal, #ascii-art-horizontal{
        display: block;
    }
    #hangman-panel pre{
        margin-top: calc(75vh - 14 * 10px);
    }
    
    .line {
        font-size: 1.2rem;
    }

    .korabbi-grid, .gyik-grid {
        margin-left: unset;
    }
} 

@media screen and (max-width: 950px) {
    #terminal {
        max-width: 400px;
    }
    .line {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 700px) {
    #terminal {
        max-width: 700px;
    }
    #hangman-panel pre{
        display: none;
    }    
    .line {
        font-size: 1rem;
    }



    
    .korabbi-grid, gyik-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }
    .korabbi-grid, .gyik-grid{
        width: 100%;
        margin-left: unset;
    }
    .answer-area{
        display: none;
    }
}